<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl ng-scope">
<head>
  <title>Billboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='js/survey.js') }}" ></script>
  <link type="text/css" charset="UTF-8" rel="Stylesheet" href="{{ url_for('static',filename='survey.css') }}"/>
</head>
<body>






<nav class=" navbar navbar-inverse sticky-top fixed-top text-r " dir="rtl">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand dropdown-toggle text-right" data-toggle="dropdown" id="profile-nav" dir="rtl" href="#">پروفایل <span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
        <ul class=" dropdown-menu text-right" dir="rtl" >
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> مشخصات کاربری </a></li>
          <li><a href="#"><span class="glyphicon glyphicon-stats"></span> فعالیت های من</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> خروج </a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <a class="logo hidden-xs hidden-sm navbar-right" href="#"><img id="logo" src="{{ url_for('static',filename='img/logo.png') }}"/> </a>
      <ul class="nav navbar-nav navbar-right " dir="rtl">
        <li ><a href="#">خانه</a></li>
        <li class="active"><a href="#">ایجاد پرسشنامه</a></li>
        <li><a href="#">افزودن اپلیکیشن</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid ">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-sm hidden-xs ">
    </div>
    <div class="questionnaire col-sm-8 ">
        <form action = {{url_for ('get_survey')}} method = 'POST' id="questionnaire" dir="rtl">
          <label for="question_name" dir="rtl"> نام پرسشنامه خود را وارد کنید </label><br>
          <input type="text"  id="question_name" name="question_name"><br><br>
          <input type="hidden" id="questions_count" name="questions_count"/>
          <div id="questions" class='questions'>
          </div>
          <button id="add_question" class="btn add-more" type="button" onclick="add_more(this)"><span class="glyphicon glyphicon-plus"></span></button><br/>
          <button type="submit" class="btn btn-default">ثبت نهایی</button>
        </form>
    </div>
    <div class="col-sm-2 sidenav ">
    </div>
  </div>
</div><br>



</body>

</html>
