<!DOCTYPE html>
<html>

<head>
    <title>Surveys Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app.css') }}"/>
</head>

<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>

<body style="background: #c8cacb">
<!-- Profile Panel  -->
<div class=" w3-sidebar w3-bar-block w3-card w3-animate-right text-center" style="display:none; right:0;" id="rightPanel">
    <button class="w3-bar-item w3-button w3-large" onclick="closePanel()"> &times;</button>
    <h3>پروفایل کاربری</h3>
    <div >
        <img class="w3-round" src="img/avatar.png" style="width:40%;" />
        <h4>آرش مشیرنیا</h4>
        <h4>اعتبار : 1000</h4>
        <a href="#">تاریخچه گیفت های دریافت شده</a>
    </div>
</div>

<!-- Main Material -->
<div class="w3-main" id="main">
    <div>
        <!-- NavBar -->
        <div class="w3-bar" style="background: #122b40">
            <a href="index.html" class="w3-bar-item w3-hover-white w3-button" style="font-size: 2rem">خروج</a>
            <button id="openNav" class="w3-button w3-bar-item w3-hover-white w3-right" onclick="openPanel()"
                    style="font-size: 2rem; color:white;">&#9776;
            </button>
            <a href="#" class="w3-bar-item w3-hover-white w3-button w3-right" style="font-size: 2rem">اپ ها</a>
            <a href="#" class="w3-hide-small w3-bar-item w3-hover-white w3-button w3-right" style="font-size: 2rem">پرسشنامه ها</a>
            <a href="giftshop.html" class="w3-bar-item w3-hover-white w3-button w3-right" style="font-size: 2rem">گیفت
                شاپ</a>
        </div>
        <!-- Title -->
        <div class="w3-container text-center title">
            <h1 style="color: #122b40"><strong> پرسشنامه ها</strong></h1>
            <h3 style="color: #122b40">بر روی پرسشنامه مورد نظر خود کلیک کرده و پس از پاسخگویی، اعتبار کسب کنید</h3>
        </div>

        <!--Surveys-->
        <div class="row">

            {% for survey in surveys.items %}

            <div class="col-sm-12">
                <div class="box2 w3-card">
                    <div class="flex-container w3-row text-center">


                      <div class="survey-info w3-col m3 ">
                        <img src="img/clipboard.png" style="width:100px;" alt="Clip Icon" style="width:100%"/>
                      </div>
                      <div class="survey-info w3-col m3 ">
                        {{survey.title}}
                      </div>
                      <div class="survey-info w3-col m3 ">
                        {{survey.credit}}
                      </div>
                      <div class="survey-info w3-col m3 ">
                        <button class="btn w3-hover-white" style="color: white;background-color: #122b40">
                            <a  href = "{{url_for ('fill_survey' , id = survey.id)}}">
                                پاسخگویی
                            </a>
                        </button>
                      </div>



                    </div>
                </div>
            </div>

            {%endfor%}

        </div>
        <!--
        <div class="row">
            <div class="col-sm-12">
                <div class="box2 w3-card">
                    <div class="flex-container w3-row text-center">
                      <div class="survey-info w3-col m3 ">
                        <img src="img/clipboard.png" style="width:100px;" alt="Clip Icon" style="width:100%"/>
                      </div>
                      <div class="survey-info w3-col m3 ">
                        عنوان پرسشنامه
                      </div>
                      <div class="survey-info w3-col m3 ">
                        اعتبار : 1000
                      </div>
                      <div class="survey-info w3-col m3 ">
                        <button class="btn w3-hover-white" style="color: white;background-color: #122b40">پاسخگویی</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    -->



        <div align = "center" class="w3-container">
        {% for page in surveys.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
            {% if page %}
                <a  style = "color:black; padding-left: 18px; padding-bottom:25px; font-size:20px;" href = "{{url_for ('show_survey' , page_numb = page)}}"> {{page}}&nbsp </a>
            {%else%}
            ...
            {% endif %}
        {% endfor %}
        </div>


    </div>
</div>



<!-- Pages -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar" style="font-size: 2rem">
        <a href="#" class="w3-bar-item w3-button w3-hover-light-grey" style="color: #122b40">«</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-light-grey " style="color: #122b40">1</a>
        <a href="Page2.html" class="w3-bar-item w3-button w3-hover-light-grey" style="color: #122b40">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-light-grey" style="color: #122b40">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-light-grey" style="color: #122b40">4</a>
        <a href="Page2.html" class="w3-bar-item w3-button w3-hover-light-grey" style="color: #122b40">»</a>
    </div>
</div>

<!--  about us  -->
<div class="w3-padding-32 w3-center back footer" id="footer">
    <h1 style="color: white;font-family: Mitra;font-size:40px ">بیلبورد</h1>
    <!--<div class="w3-padding-32">-->
        <p style="color: white;font-family: Mitra;font-size: 20px">

            راه های ارتباط با ما
        </p>
        <p style="color: white; font-family: Mitra;font-size: 20px">
            پست الکترونیک : contact@billboard.com
        </p>
        <p style="color: white;font-family: Mitra;font-size: 20px">
            شماره تماس : 02188888888
        </p>
    <!--</div>-->

    <!-- social media -->
    <div class="icons center-block">
        <span1 class="fa fa-facebook fa-2x"></span1>
        <span1 class="fa fa-twitter fa-2x"></span1>
        <span1 class="fa fa-instagram fa-2x"></span1>
        <span1 class="fa fa-whatsapp fa-2x"></span1>
        <span1 class="fa fa-skype fa-2x"></span1>
        <br>
        <br>
    </div>
</div>

</body>
</html>
