<!DOCTYPE html>
<head>
  <title>Gift Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='giftresult.css') }}"/>
</head>
<body>
  <div class="w3-container main">
    <div class="w3-display-middle w3-card-4 text-center">
      <h3 class="title">گیفت با موفقیت برای شما ثبت گردید</h3>
      <h4>کد گیفت کارت شما </h4>
      <h4>{{gift.code}}</h4>
      <button class="btn w3-black w3-hover-gray" ><a href = "{{url_for ('profileHandler' , pageNum = 1)}}" class="w3-bar-item w3-hover-white w3-button w3-right">بازگشت به تبلیغات</a></button>
      <button class="btn w3-black w3-hover-gray" ><a href = "{{url_for ('giftHandler' , pageNum = 1)}}" class="w3-bar-item w3-hover-white w3-button w3-right">بازگشت به گیفت شاپ</a></button>
    </div>
  </div>
</body>
