<!DOCTYPE html>

<head>
  <title>Inform Download Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='profile.css') }}"/>
</head>
<script>

  function checkInstall(id) {
	$(document).ready(function() {
	   var appId = id;
	   var qurl="http://192.168.1.108:5000/addcredit";
	   $.ajax({
				type: "POST",
				async: false,
				cache: false,
				data:{app_id:appId},
				url: qurl,
				dataType: "json",
				success: function(data) { 
					console.log(data);                    
				},
				error: function(jqXHR) {
					alert("error: " + jqXHR.status);
					console.log(jqXHR);
				}
			})
	});
 
}

</script>


<body>
  <div class="w3-bar w3-black">
    <a href="/logout" class="w3-bar-item w3-hover-white w3-button">خروج</a>
    <a href="{{url_for ('profileHandler' , pageNum = 1)}}" class="w3-bar-item w3-hover-white w3-button w3-right">تبلیغات</a>
    <a href="{{url_for ('giftHandler' , pageNum = 1)}}" class="w3-bar-item w3-hover-white w3-button w3-right">گیفت شاپ</a>
  </div>
  
  
  
    {% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="w3-container text-center title" style="color:red; font-size:150%;">
				<br>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
  
  
  
  <div class="w3-main-dl">
    <!-- Title -->
    <div class="w3-container text-center title">
      <h1>صفحه دانلود</h1>
      <h4>لطفا پس از اینکه اپ را نصب کردید، بر روی دکمه ی ' نصب کردم ' کلیک کنید</h4> </div>
    <!-- Pending Apps -->
	
    <div class="row">
	
	{% for i in apps.items %}
      <div class="col-sm-3">
        <div class="thumbnail text-center w3-card">
          <img  src="{{i.icon}}" alt="app icon" />
          <h4>{{(i.name).title()}} <b>:نام اپلیکیشن</b> </h4>
          <h4 style = "margin:5px;"><b>اعتبار دریافتی:</b> {{i.credit}} تومان</h4>
		  <br>
          <button class="btn w3-black w3-hover-white" onclick="checkInstall({{i.id}})"><a style = "color:white;" href = "{{i.deepLink}} " >نصب کردم</a></button>
        </div>
      </div>
	  {% endfor %}
	  
	  <div align = "center" class="w3-container">
	  	{% for page in apps.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
		{% if page %}
			<a  style = "color:black; padding-left: 18px; padding-bottom:25px; font-size:20px;" href = "{{url_for ('getConfirmInstallList' , pageNum = page)}}"> {{page}}&nbsp </a>
		{%else%}
		...
		{% endif %}
	{% endfor %}
	
	  </div>
	  
	  
    </div>
	
  </div>
  
  
  <footer class="container-fluid text-center">
    <h2>بیلبورد</h2>
    <p>
      راه های ارتباط با ما
    </p>
    <p>
      پست الکترونیک : contact@billboard.com
    </p>
    <p>
      شماره تماس : 02188888888
    </p>
    <a class="up-arrow" href="#mainApps" data-toggle="tooltip" title="TOP"><span class="glyphicon glyphicon-chevron-up"></span></a>

  </footer>
</body>
