<!DOCTYPE html>
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mainstyle.css') }}"/>
</head>
<script>
$(document).ready(function(){

  $(".navbar a").on('click', function(event) {

  if (this.hash !== "") {
    event.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){
      window.location.hash = hash;
      });
    }
  });
})
</script>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-inverse navbar-fixed-top header-img"  >
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myHeader"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <button class="btn navbar-brand w3-black w3-hover-gray" data-toggle="modal" data-target="#signup" >ثبت نام</button>
        <button class="btn navbar-brand w3-black w3-hover-gray" data-toggle="modal" data-target="#login">ورود</button>
        <a class="navbar-brand2 navbar-brand" href="#">بیلبورد</a>
      </div>
	  
	  	{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="navbar-brand2 navbar-brand" style="color:red;">
				<br><br><br>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	  
      <div class="collapse navbar-collapse" id="myHeader">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="w3-black w3-hover-gray" href="#advertisers">تبلیغ دهندگان</a></li>
          <li><a class="w3-black w3-hover-gray" href="#viewers">بینندگان</a></li>
          <li><a class="w3-black w3-hover-gray" href="#introduction"> درباره بیلبورد</a></li>
          <li><a class="w3-black w3-hover-gray" href="#mainPage">صفحه اصلی</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>نام کاربری و رمز عبور خود را وارد کنید</h4>
        </div>
        <div class="modal-body text-right">
          <form action = {{url_for ('login')}} method = 'POST'  role="form">
            <div class="form-group">
              <label for="username">نام کاربری</label>&nbsp<span class=" glyphicon glyphicon-user"></span>
              <input type="text" name = "username" class="form-control" id="username" placeholder="نام کاربری" />
            </div>
            <div class="form-group">
              <label for="password">رمز عبور</label>&nbsp<span class=" glyphicon glyphicon-lock"></span>
              <input type="password" name = "password" class="form-control" id="password" placeholder="رمز عبور" />
            </div>
            <button type="submit" class="btn btn-block">ورود</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>لطفا اطلاعات خود را وارد کنید</h4>
        </div>
        <div class="modal-body text-right">
          <form action = {{url_for ('signUp')}} method = 'POST' role="form">
            <div class="form-group">
              <label for="name">نام و نام خانوادگی</label>&nbsp<span class=" glyphicon glyphicon-pencil"></span>
              <input type="text" name = "name" class="form-control" id="name" placeholder="نام" />
            </div>

            <div class="form-group">
              <label for="email">ایمیل</label>&nbsp<span class=" glyphicon glyphicon-envelope"></span>
              <input type="email" name = "email" class="form-control" id="email" placeholder="ایمیل" />
            </div>
            <div class="form-group">
              <label for="pass">رمزعبور</label>&nbsp<span class=" glyphicon glyphicon-lock"></span>
              <input type="password" name = "password" class="form-control" id="pass" placeholder="رمز عبور" />
            </div>
            <div class="form-group">
              <label for="passrpt">تکرار رمز عبور</label>&nbsp<span class=" glyphicon glyphicon-check"></span>
              <input type="password" name = "confirm" class="form-control" id="passrpt" placeholder="تکرار رمز عبور" />
            </div>
			<div class = "form-group">
			<br>
				<input type="checkbox" name="acceptLaws" checked="checked"> قوانین و مقررات بیلبورد را قبول دارم<br>
			</div>
            <button type="submit" class="btn btn-block">ثبت نام</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center back-img w3-opacity-min container-fluid " id="mainPage">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">BILLBOARD</span> </br></br>
      <span class="w3-center w3-padding-large w3-black w3-large w3-wide w3-animate-opacity">Your Best Advertisement Platform</span>
    </div>
  </div>
  <div class="container-fluid explanation" id="introduction">
    <div class="container text-right">
      <div class="jumbotron text-center title">

      </div>
      <div class="row">
        <div class="col-sm-4">
          <img class="w3-image" src="{{ url_for('static',filename='billboard.jpg') }}" />
        </div>
        <div class="col-sm-8">
          <h3> بیلبورد یه پلتفرم تبلیغاتیه که خیلی راحت توی اون میتونی درامد کسب کنی. اگر دوست داری که تمام وقتت پای گوشی رو الکی هدر ندی ، بیلبورد گزینه ی خوبیه :) اما چجوری؟ </h3></br>
          <h3> ما اینجا روی سایت یه سری اپلیکیشن و ویدیو و نظرخواهی قرار میدیم و به ازای نصب هر اپلیکیشن، مشاهده هر ویدیو و شرکت توی هر نظرخواهی، یه میزان اعتبار خاصی در نظر میگیریم. هر کدوم از کاربرها میتونن موارد مورد نظر خودشون رو ببینن و اعتبار دریافت کنن. وقتی هم که اعتبارشون به اندازه کافی جمع شد ، میتونن از آفرهای جذابی که توی گیفت شاپمون هست، بهره ببرن . خیلی هم عالی</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid explanation" id="viewers">
    <div class="container text-right">
      <div class="jumbotron text-center title">
        بینندگان
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="w3-image" src="{{ url_for('static',filename='mickey.jpg') }}" />
        </div>
        <div class="col-sm-8 viewersdef">
          <h3>کاربرهای بیلبورد، واسه ما خیلی باارزش اند. علتش هم اینه که وقت خودشون رو در اختیار سایت ما قرار میدن. واسه همین ما هم حسابی هواشونو داریم. اگر دوست دارید که بخشی از زمانی که پای گوشی میذارید رو خرج یه کار مفیدتر بکنید، به جمع کاربرهای ما بپیوندید و با گذاشتن یه مقدار کم از زمان های آزادتون، هر چند وقت یه بار گیفت های باحال دریافت کنید ، معطل نکنید! همین حالا ثبت نام کنید </h3>
          <button class="btn" data-toggle="modal" data-target="#signup" >ثبت نام</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid explanation" id="advertisers">
    <div class="container text-right">
      <div class="jumbotron text-center title">
        تبلیغ دهندگان
      </div>
      <div class="row">
        <div class="text-center col-sm-4">
          <img class="w3-image" src="{{ url_for('static',filename='business.jpg') }}" />
        </div>
        <div class="col-sm-8">
          <h3>
اگر به عنوان صاحبان مشاغل، دنبال یه راه خوب برای معرفی کسب و کار خودتون هستید، بیلبورد میتونه خیلی خوب کار شما رو تبلیغ و به جامعه معرفی کنه. برای آشنایی با پلن های موجود میتونید با ما تماس بگیرید
</h3>
        </div>
      </div>
    </div>
  </div>
</body>
